<p id="notice"><%= notice %></p>

<head>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading"><h1 align="center">Student Statistics</h1></div>
<table class="table" align="center">
  <thead>
    <tr>
        <td><h3>Name</h3></td>
        <td><h3>Email</h3></td>
        <td><h3>Number of Sign-ins</h3></td>
        <td><h3>Number of Comments</h3></td>
        <td><h3>Link to Posts</h3></td>

    </tr>
  </thead>

  <tbody>
    <% Users.each do |user| %>
      
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= %></td>
        <td><%= %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
</div>

<br>

<p align="center">
  <%= link_to 'New Assignment', new_assignment_path, class:'btn btn-primary btn-lg' if current_user.admin %>
</p>
</body>
