<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title%>
  <%= f.text_field :title%><br>
  <%= f.label :description%>
  <%= f.cktext_area :description %><br>
  <%= f.label :deadline%>
  <%= f.datetime_select :deadline%><br>
  
  <%= f.label :positions %>

  <ul>
    <%= f.fields_for :positions do |positions_form| %>
      <li>
        <%= positions_form.label :title %>
        <%= positions_form.text_field :title %>
        Delete: <%= positions_form.check_box :_destroy%>
      </li>
    <% end %>
  </ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>