<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title%>
  <%= f.text_field :title%><br>
  <%= f.label :description%>
  <%= f.cktext_area :description %><br>
  <%= f.label :draft_deadline%>
  <%= f.datetime_select :draft_deadline%><br>
  <%= f.label :final_deadline%>
  <%= f.datetime_select :final_deadline%><br>
  
  <%= f.nested_fields_for :positions do |positions_form| %>
    <h4>Position:</h4>
      <%= positions_form.label :title %>
      <%= positions_form.text_field :title %>
      <%= positions_form.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
    <br>
  <% end %>
  <br>
  <%= f.add_nested_fields_link :positions, 'Add Another Position', class: 'btn btn-primary', role: 'button' %>
  <br>  
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>