<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <%= f.label :title%>
 <%= f.text_field :title%><br>
 <%= f.label :description%>
 <%= f.cktext_area :description %><br>
 <%= f.label :deadline%>
 <%= f.datetime_select :deadline%><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<link rel="stylesheet" href ="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src ="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
