<p id="notice"><%= notice %></p>

<head>
  <style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}
</style>
</head>
<h1 align="center">Assignment Listing</h1>
<table align="center">
  <thead>
    <tr>
        <td>Title</td>
        <td>Deadline</td>
        <% if current_user.admin %>
          <td>Link to Submissions</td>
          <td>Show</td>
          <td>Edit</td>
          <td>Destroy</td>
        <% else %>
          <td>Start/Edit Post</td>
          <td>View My Post</td>
          <td>View Opposing Positions</td>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      
      <tr>
        <td><%= assignment.title%></td>
        <td><%= assignment.deadline%></td>
        <% if current_user.admin %>
          <td><!-- %= link_to 'Go to Posts', assignment.posts, class:'btn btn-default btn-xs' % --></td>
          <td><%= link_to 'Show', assignment, class:'btn btn-default btn-xs' %></td>
          <td><%= link_to 'Edit', edit_assignment_path(assignment), class:'btn btn-default btn-xs' %></td>
          <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default btn-xs' %></td>
        <% else %>
          <% if Post.where(:user_id => current_user.id, :assignment_id => assignment.id).exists? %>
            <td><%= link_to 'Edit Post'%></td>
          <% else %>
            <td><%= link_to 'Start Post'%></td>
          <% end %>
          <td><%= link_to 'View My Post'%></td>
          <td><%= link_to 'View Opposing Positions'%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p align="center"><%= link_to 'New Assignment', new_assignment_path, class:'btn btn-primary btn-lg' if current_user.admin %></p>


