<p id="notice"><%= notice %></p>

<head>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading"><h1 align="center">Assignment Listing</h1></div>
<table class="table" align="center">
  <thead>
    <tr>
        <td><h3>Title</h3></td>
        <td><h3>Deadline</h3></td>
        <% if current_user.admin %>
          <td><h3>Link to Submissions</h3></td>
          <td><h3>Edit</h3></td>
          <td><h3>Destroy</h3></td>
        <% else %>
          <td><h3>Start/Edit Post</h3></td>
          <td><h3>View My Post</h3></td>
          <td><h3>View Opposing Positions</h3></td>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      
      <tr>
        <td><%= assignment.title%></td>
        <td><%= assignment.deadline%></td>
        <% if current_user.admin %>
          <td><%= link_to 'Go to Posts', {:controller => 'posts', :action => 'index', :assignment_id => assignment.id}, class:'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_assignment_path(assignment), class:'btn btn-default' %></td>
          <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %></td>
        <% else %>
          <% if Post.where(:user_id => current_user.id, :assignment_id => assignment.id).exists?
                @post = Post.where(:user_id => current_user.id, :assignment_id => assignment.id) %>
            <td><%= link_to 'Edit Post', edit_post_path(@post.first.id) %></td>
          <% else %>
            <td><%= link_to 'Start Post', {:controller => 'posts', :action => 'new', :assignment_id => assignment.id}%></td>
          <% end %>
          <% if Post.where(:user_id => current_user.id, :assignment_id => assignment.id).exists? %>
            <td><%= link_to 'View My Post', post_path(@post.first.id)%></td>
            <td><%= link_to 'View Opposing Positions', {:controller => 'posts', :action => 'index', :assignment_id => assignment.id}%></td>
          <% end %>
          
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<p align="center">
  <%= link_to 'New Assignment', new_assignment_path, class:'btn btn-primary btn-lg' if current_user.admin %>
</p>
</body>
