<p id="notice"><%= notice %></p>

<head>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading"><h1 align="center">Student Statistics</h1></div>
<table class="table" align="center">
  <thead>
    <tr>
        <td><h3>Name</h3></td>
        <td><h3>Email</h3></td>
        <td><h3># of Sign-ins</h3></td>
        <td><h3># Post Reads</h3></td>
        <td><h3># of Comments</h3></td>
        <td><h3># of Posts</h3></td>
        <td><h3>Link to Posts</h3></td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= ::Ahoy::Event.where(user_id: user.id, name: "Read Post").count - user.comments.count %></td>
        <td><%= user.comments.count %></td>
        <td><%= user.posts.count %></td>
        <td><%= link_to "Posts", :controller => "posts", :action => "myposts", :user_id => user.id %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
<div class="panel-footer"></div>
</div>

<br>

</body>
