<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :assignment_id, value: @assignment.id %>
  <%= f.label :headline %>
  <%= f.text_field :headline %><br>
  <%= f.label :draft1 %>
  <%= f.cktext_area :draft1 %><br>
  <!-- USE MODAL TO PREVIEW DRAFT BEFORE SUBMITTING!!! -->
  <% if @post.submitted %>
    <%= f.label :draft2 %>
    <%= f.cktext_area :draft2 %><br>
  <% end %>
  
  <%= "Time Until Deadline: " + Time.diff(Time.now, @post.assignment.deadline)[:diff] + "\n" %>

  <div class="actions">
    <%= f.submit 'Save Post'%>
  </div>
  
  <% if !@post.submitted %>
    <div class="actions">
      <%= f.submit 'Submit Post To Class'%>
    </div>
  <% end %>
 
<% end %>
