<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
 <td>  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :assignment_id, value: @assignment.id %>
  <%= f.label :headline %>
  <%= f.text_field :headline %><br>
  
  <% if @post.submitted %>
    <div class="well well-lg">
      <%= @post.draft1 %>
    </div>
  <% else %>
    <%= f.label :draft1 %>
    <%= f.cktext_area :draft1 %><br>
  <% end %>
  
  <!-- USE MODAL TO PREVIEW DRAFT BEFORE SUBMITTING!!! -->
  <% if @post.submitted %>
    <%= f.label :draft2 %>
    <%= f.cktext_area :draft2 %><br>
  <% end %>
  
  <%= "Time Until Deadline: " + Time.diff(Time.now, @post.assignment.deadline)[:diff] + "\n" %>

  <div class="actions">
    <%= f.submit 'Save Post'%>
  </div>
  
  <% if !@post.submitted %>
    <div class="actions">
      <%= f.submit 'Submit Post To Class'%>
    </div>
  <% end %>
 
<% end %>
 </td>
 <td>
   <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">My Notes</a></li>
    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">My Post's Comments</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="notes">
      
      <br>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% Note.where(:user_id => current_user.id).each_with_index do |note, index| %>
   <% if Post.where(:id => note.post_id).first.assignment_id == @assignment.id %>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading" >
      <h4 class="panel-title">
        <a role="button" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1 %>" aria-expanded="true" aria-controls="collapse<%= index+1 %>" >
          "<%= Post.where(:id => note.post_id).first.headline %>" by <%= User.where(:id => Post.where(:id => note.post_id).first.user_id).first.name %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= index+1 %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<% note.id %>" >
      <div class="panel-body">
        <%= note.content %><br>
        <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
   </div>
   <% end %>

  <% end %>
  </div>
    </div>
    
    
    <div role="tabpanel" class="tab-pane" id="comments">
      <table class="table table-bordered">
	<%@comments = @post.comments.order('created_at ASC')%>
	<%@comments.each do |c|%>
		<tr>
			<td width="80%"><%=c.content.html_safe%></td>
			<td width="20%" align="right">Commenter: <%=c.user.name%></td>
		</tr>
	<%end%>
</table>
    </div>
  </div>

</div>
 </td>
</table>
