<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1 align="center">Posts for <%=Assignment.where(:id => params[:assignment_id]).first.title%></h1></div>
<table class="table" align="center">
  <tbody>
    <% @posts.each do |post| %>
      <% if current_user.admin %>
          <tr>
            <td>
              <%= 'Headline:'%><%= post.headline %>
              <%= 'Author:'%><%= post.user.name %>
              <%= 'Position:'%><%= post.positions.first.title %>
              <%= link_to 'Go to Post', post, class:'btn btn-default btn-xs' %>
            </td>
          </tr>
      <% else %>
          <% if @position.first.title != post.positions.first.title %> 
            <tr>
              <td>
                <%= 'Headline:'%><%= post.headline %>          
                <%= 'Author:'%><%= post.user.name %>          
                <%= 'Position:'%><%= post.positions.first.title %>           
                <%= link_to 'Go to Post', post, class:'btn btn-defaul btn-xs' %>
              </td>
            </tr>
          <% else %>
            <!-- do nothing -->
          <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<!--= button_to 'New Post', new_post_path -->
