<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1 align="center">Posts for <%=Assignment.where(:id => params[:assignment_id]).first.title%></h1></div>
<table class="table" align="center">
  <tbody>
    <% @posts.each do |post| %>
      <% if post.submitted %>
        <% if current_user.admin %>
          <tr>
            <td>
              <h4><b><u><%= 'Headline:'%></u></b> <%= post.headline %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b><u><%= 'Author:'%></b></u> <%= post.user.name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b><u><%= 'Position:'%></b></u> <%= post.positions.first.title %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></h4>
            </td>
          </tr>
        <% else %>
          <% if @position.first.title != post.positions.first.title %> 
            <tr>
              <td>
                <h4><b><u><%= 'Headline:'%></b></u> <%= post.headline %>       <b><u><%= 'Author:'%></b></u> <%= post.user.name %>        <b><u><%= 'Position:'%></b></u> <%= post.positions.first.title %><div align="right"><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></div></h4>
               
              </td>
            </tr>
          <% else %>
            <!-- do nothing -->
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="panel-footer"></div>

</div>

<br>

<!--= button_to 'New Post', new_post_path -->
