<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1 align="center">Posts for <%=Assignment.where(:id => params[:assignment_id]).first.title%></h1></div>
<table class="table" align="center">
  <thead>
    <th><h3>Headline</h3></th>
    <th><h4>Author</h4></th>
    <th><h4>Position</h4></th>
    <th><h4>Link</h4></th>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <% if post.submitted %>
        <% if current_user.admin %>
          <tr>
            <td><h4><%= post.headline %></h4></td>
            <td><%= post.user.name %></td>
            <td><%= post.position.title %></td>
            <td><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></td>
          </tr>
        <% else %>
          <% if @assignment.positions.count == 1 || @assignment.positions.nil? %>
            <tr>
            <td><%= post.headline %></td>
            <td><%= post.user.name %></td>
            <td><%= post.position.title %></td>
            <td><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></td>
          </tr>
          <% elsif @post.position_id != post.position_id %> 
             <tr>
            <td><%= post.headline %></td>
            <td><%= post.user.name %></td>
            <td><%= post.position.title %></td>
            <td><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="panel-footer"></div>

</div>

<br>

<!--= button_to 'New Post', new_post_path -->
