<p id="notice"><%= notice %></p>

<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}
</style>
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= 'Headline:'%><%= post.headline %>
          <%= 'Author:'%><%= post.user.name %>
          <%= 'Position:'%><%= post.positions.first.title %>
          <%= link_to 'Go to Post', post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
