<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <% if current_user.admin %>
  <div class="panel-heading"><h1 align="center"><%= @user.name %>'s Posts</h1></div>
  <% else %>
  <div class="panel-heading"><h1 align="center">My Posts</h1></div>
  <% end %>
<table class="table" align="center">
  <tbody>
    <% if @posts != nil %>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <h4><b><u><%= 'Headline:'%></u></b> <%= post.headline %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b><u><%= 'Position:'%></b></u> <% if post.position.nil? %>
            No position for this assignment
            <% else %>
            <%= post.position.title %>
            <% end %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= if post.submitted then 'Submitted' end %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></h4>
          <h4>First Draft</h4>
          <div class="well well-lg">
            <%= post.draft1.html_safe %>
          </div>
          <% if post.draft2 != nil && post.draft2.length > 0 %>
            <h4>Final Draft</h4>
            <div class="well well-lg">
              <%= post.draft2.html_safe %>
            </div>
          <%end%>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<div class="panel-footer"></div>

</div>