<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @post.headline %><small>                  by: <%= @post.user.name %></small></h1>
</div>
<h4>First Draft</h4>
<div class="well well-lg">
    <%= @post.draft1 %>
</div>


<% if @post.draft2 != nil && @post.draft2.length > 0 %>
    <h4>Final Draft</h4>
    <div class="well well-lg">
        <%= @post.draft2 %>
    </div>
<% end %>

<div align="right">
  <% if current_user.admin %>
  	<% if !@post.bookmarked %>
  	  <%= button_to 'Bookmark', flop_post_path(id: @post.id) %>
  	<% else %>
  	  <%= button_to 'Bookmarked', flop_post_path(id: @post.id) %>
  	<% end %>
  <%end%>
  
  
  <% if Like.where(post_id: @post.id, user_id: current_user.id).exists? %>
    <% @like = Like.where(post_id: @post.id, user_id: current_user.id).first %>
    <%= button_to 'Unlike', @like, method: :delete%>
  <% else %>
    <%=form_for(Like.new) do |f|%>
      <%=f.hidden_field :user_id, value: current_user.id%>
      <%=f.hidden_field :post_id, value: @post.id%>
      <%= f.submit 'Like' %>
    <% end %>
  <% end %>
</div>

<table style="padding: 20px">
  <tr>
	<td>
		<h4>Comments</h4>

<table class="table table-bordered">
	<%@comments = @post.comments.order('created_at ASC')%>
	<%@comments.each do |c|%>
		<tr>
			<td width="80%"><%=c.content.html_safe%></td>
			<td width="20%" align="right">Commenter: <%=c.user.name%></td>
		</tr>
	<%end%>
</table>
	</td>
	<td>
	  <div align="right">
		<% if @post.notes.where(:user_id => current_user.id).exists? %>
		   <%=form_for(@post.notes.where(:user_id => current_user.id).first) do |f|%>
			<%=f.text_area :content %>
			<%=f.submit "Save Note" %>
		  <%end%>
		<%else%>
		  <%=form_for(Note.new) do |f|%>
			<%=f.text_area :content %>
			<%=f.hidden_field :user_id, value: current_user.id %>
			<%=f.hidden_field :post_id, value: @post.id %>
			<%=f.submit "Save Note" %>
		  <%end%>
		<% end %>
	  </div>
	</td>
  </tr>
  <tr>
  	<td>
  		<!-- create new comment -->
		<%=form_for(Comment.new) do |f|%>
			<%=f.label :content, 'Add a Comment'%><br>
			<%=f.text_area :content %><br>
			<%=f.hidden_field :user_id, value: current_user.id%>
			<%=f.hidden_field :post_id, value: @post.id%>
			<%=f.submit "Save Comment"%>
		<%end%>
  	</td>
  </tr>
</table>

